<!DOCTYPE html>
<html>
<head>
    <title>Добавление статьи</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление статьи</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Статья</label><br>
        <input name="topic" class="field"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку статей</a>
</body>
<html>